.App {
  background-color: #9bdb8e;
  width: 100%;
  height: 100%;
  color: white;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  background-color: #cddbf7;
  padding: 0px 10px 0px 10px
  

}
.App-logo{

animation: spin 20s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nav-btn{
  margin: 0px 8px 0px 0px
}
.ZipCode{
  margin: auto;
  width: 60%;
}